@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
#loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}
#loader::before,
#loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #204990 92%, #0000);
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}
#loader::before {
    margin: 4px;
    filter: hue-rotate(0deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
}

@keyframes l12 {
    100% {
        transform: rotate(0.5turn);
    }
}

/* Hide scrollbar while maintaining scroll functionality */
.scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

[x-cloak] {
    display: none !important;
}

.banner {
    background-image: url("/public/assets/banner.png"); /* image path */
    background-size: cover; /* make it cover the whole div */
    background-position: center; /* center the image */
    background-repeat: no-repeat; /* prevent tiling */
}
